@font-face {
    font-family: 'SF_HailSnow';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_HailSnow.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{
    margin: 0;
    font-family: 'SF_HailSnow';
    text-align: center;
}
tree{
    margin-top: 3%;
    display: block;
    font-size: 500%;
}
#navBar{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
#main{
    min-height: 500px;
}
.navBtn{
    padding: 5%;
    margin: 5px;
}
.navBtn:hover{
    font-weight: bolder;
}
.musicDiv:hover{
    animation: expand 2s forwards;
}
@keyframes expand {
    0%   {margin-left: 30%;margin-right: 30%;}
    100% {margin-left: 25%;margin-right: 25%;}
  }